.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    flex: 0 0 auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.logo img {
    object-fit: fill;
    border-radius: 4px;
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.logo p {
    font-weight: 500;
}

.nav {
    display: flex;
    flex: 1;
    justify-content: center;
}

.link {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    position: relative;
    transition: color 0.3s;
    font-size: 17px;
}

.link::after {
    content: '';
    display: block;
    height: 2px;
    background-color: rgb(0, 136, 0);
    width: 0;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -5px;
    left: 0;
}



.link:hover::after {
    width: 100%;
    animation: grow 0.3s forwards;
}

@keyframes grow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.rightSection {
    display: flex;
    align-items: center;
}

.account {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.icon {
    font-size: 22px;
    margin-right: 20px;
}

.hamburger {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black;
    font-size: 22px;
}

.accountText {
    margin-right: 15px;
    font-weight: 500;
}

.drawerHeader {
    display: flex;
    align-items: center;
}

.createUser {
    display: flex;
    flex-direction: column;
}

.userInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.userName {
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;
}

.userNameAccount{
    margin-left: 10px;
    font-weight: 600;
    color: rgb(87, 87, 87);
    text-decoration: underline;
}

.drawerNav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.drawerLink {
    margin: 10px 0;
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.drawerLink:hover {
    background-color: rgba(0, 113, 255, 0.1);
    color: #0056b3;
}

.drawerLink:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 113, 255, 0.5);
}

.drawerLink:active {
    background-color: rgba(0, 113, 255, 0.2);
}

.drawerLogo {
    width: 200px; 
    height: 50px; 
    display: block; 
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    /* Ensure the image maintains its aspect ratio and does not stretch */
    background-size: contain; 
    background-color: #fff; /* Optional: set a background color to fill any empty space */
}


@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .hamburger {
        margin-right: 0;
    }

    .account {
        display: none;
    }
    .drawerLogo {
        width: 200px; 
        height: 50px; 
        display: block; 
        text-indent: -9999px;
        object-fit: contain;
    }
}
