
.priceFilterContainer {
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .sliderSpacer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .priceSlider {
    margin-top: 16px;
  }
  